fastapi
uvicorn
sqlalchemy==2.0.28
psycopg2-binary==2.9.9
alembic==1.13.1
python-jose[cryptography]
python-dotenv
sentence-transformers==2.7.0
torch
numpy
scikit-learn
xgboost
lightgbm
pymongo
cloudinary
google-genai
